.container {
  .main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    transition: all 0.3s;

    .menu-link {
      display: flex;
      justify-content: center;
      align-content: center;
      font-size: 1.1rem;

      li {
        list-style: none;
        padding-left: 20px;
      }
    }

    .hamburger-menu {
      cursor: pointer;
      margin-top: 11px;
      font-size: 30px;
    }

    h1 {
      font-size: 2rem;
      color: #fff;

      .br-span {
        position: relative;
        padding: 5px 8px;
        background: linear-gradient(120deg, #e2cd2fc0 30%, #edb825d8);

        &::after {
          content: '35';
          font-size: 10px;
          position: absolute;
          top: 4px;
          right: 8px;
        }
      }

      .ba-span {
        position: relative;
        padding: 5px 5px;
        background: linear-gradient(-30deg, #e2cd2fda 30%, #edb825d8);

        &::after {
          content: '56';
          font-size: 10px;
          position: absolute;
          top: 4px;
          right: 6px;
        }
      }
    }

    a {
      color: #fff;
      transition: color 0.3s ease;
    }

    a.active {
      color: #ecbb33;
    }

    a:hover,
    a:active {
      color: #ecbb33;
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    h1 {
      font-size: 1.8rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .container {
    h1 {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 745px) {
  .hamburger-menu {
    display: none;
  }
}

@media screen and (max-width: 745px) {
  .container {
    .main-nav {
      .menu-link {
        display: none;
        width: 100%;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        background: rgb(43, 43, 43);
        border-radius: 5px;
        padding: 10px;

        li {
          padding-left: 0;
        }

        &.active {
          display: flex;
          max-height: 100%;
          opacity: 1;
        }
      }
    }
  }
}
