.cards-quote {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding-bottom: 1rem;
}

@media screen and (max-width: 810px) {
    .cards-quote {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card-quote {
    background: #333;
    padding: 20px;
    border-radius: 10px;

    h2 {
        font-size: 25px;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }

    p {
        padding: 10px 0;
    }
    
    .span-header {
        background: -webkit-linear-gradient(#4b9b60, #266437);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .span-series {
        font-weight: bold;
    }
}

